<div class="mt-100 text-center" *ngIf="agora">

    <h2>{{agora.name | uppercase}} </h2>
    <div class="mb-4">
        <label for="agorespace-name">Nom de l'agorespace : </label>
        <input id="agorespace-name" [(ngModel)]="agora.name" placeholder="Agorespace name">
        <a class="btn btn-primary" (click)="save()" type="button">Modifier</a>

    </div>
    <img class="" src="https://agorespace.landagora.ch/images/pages/terrain-classic-ab.jpg" alt="Card image cap">

    <div class="card-body">
        <h5 class="card-title"> {{ agora.name}}</h5>
        <p class="card-text">L'adresse: {{agora.address}}</p>
        <p class="card-text">Construit le {{ agora.createdAt | date }} </p>


    </div>

    <a class="btn btn-primary" href="https://www.google.com/maps/search/?api=1&query={{agora.address}}" target="_blank">Localiser</a>
    <a class="btn btn-primary " type="button " (click)="goBack()">Retour à la liste</a>

    <!--<a class="btn btn-primary" (click)="openGoogleMaps(agora.address)" target="_blank">Localiser</a>-->

</div>