<div class="container">

    <h1 class="display-4 pt-5 mb-0 text-center mt-5">About</h1>
    <hr class="mt-0 mb-5 container">

    <div class="content container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eos consectetur sit obcaecati, asperiores repudiandae ducimus placeat quam provident cumque iste recusandae iure architecto distinctio adipisci numquam. Quam, mollitia distinctio?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci dolores accusamus accusantium recusandae repellat, ratione optio neque et sint, consequatur asperiores, minus harum! Sit impedit non error dolore minima iure.</p>
    </div>

</div>

<app-footer></app-footer>