<!-- Top navigation -->
<!--<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">
    </a>
</nav>-->
<app-sidebar>
</app-sidebar>

<!-- Sidebar navigation -->

<div class="container">

    <h1 class="display-4 pt-5 mb-0 text-center mt-5">Profil</h1>
    <hr class="mt-0 mb-5 container">

    <div class="content container">

        <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
                <div class="media">
                    <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
                    <div class="media-body">
                        <h1>Hello: <strong>{{(user.displayName) ? user.displayName : user.email }}</strong></h1>
                        <p>User ID: <strong>{{user.uid}}</strong></p>
                        <p>Email: <strong>{{user.email}}</strong></p>
                        <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<app-footer></app-footer>