<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div *ngIf="isConnected" class="bg-light border-right mt-5" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
        <div class="sidebar-heading">LOGO </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" routerLink="/dashboard">Dashboard</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/agorespace">Agorespace</a>
            <a class="list-group-item list-group-item-action bg-light disabled fs-15" routerLink="/agorespace-search">Search Agorespace (Coming Soon)</a>
            <a class="list-group-item list-group-item-action bg-light disabled fs-15" routerLink="/parc-workout">Parc-workout (Coming Soon)</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/about">About</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/contact">Contact</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/profil">Voir mon profil</a>
            <a class="list-group-item list-group-item-action bg-light" (click)="logout()">Se déconnecter</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav *ngIf="isConnected" class=" navbar fixed-top navbar-expand-lg navbar-light bg-light ">

            <div class="container-fluid ">
                <button class="btn btn-primary " (click)="clickEvent() "><i class="fa-solid fa-bars "></i></button>

                <div class=" collapse navbar-collapse " id="navbarSupportedContent ">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <!--<li class="nav-item ">
                            <a class="nav-link active " aria-current="page " href="# ">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="# ">Link</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
                Dropdown
              </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdown ">
                                <li><a class="dropdown-item " href="# ">Action</a></li>
                                <li><a class="dropdown-item " href="# ">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider ">
                                </li>
                                <li><a class="dropdown-item " href="# ">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link disabled " href="# " tabindex="-1 " aria-disabled="true ">Disabled</a>
                        </li>-->
                    </ul>

                    <div *ngIf="auth.user | async as user" ngbDropdown class="dropdown d-flex">
                        <!--<h6 class="nav-item mt-3">
                            [{{ user.email }}]
                        </h6>-->

                        <h6 *ngFor="let u of displayNameObs" class="nav-item mt-3">
                            [{{ u.displayName }}]
                        </h6>

                        <h6 *ngIf="user.displayName" class="nav-item mt-3">
                            <!-- Display the name from Google database -->
                            [{{user.displayName }}]
                        </h6>
                        <button ngbDropdownToggle class="btn" type="button" id="dropdownMenuButton1" aria-expanded="false">

                            <!--{{user.photoURL ? user.photoURL : <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="(user.photoURL) ? user.photoURL : 'https://demo.plainadmin.com/assets/images/profile/profile-image.png'"
                            alt="">}}-->
                        <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : 'https://st3.depositphotos.com/1007566/13247/v/600/depositphotos_132471910-stock-illustration-head-human-profile-icon.jpg'}}" style="width:50px" alt="{{user.displayName}}">

                        </button>
                        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                            <li><a ngbDropdownItem routerLink="/profil">Voir mon profil</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a ngbDropdownItem (click)="logout()">Se déconnecter</a></li>
                        </ul>

                    </div>


                    <!--<form class="d-flex ">
                        <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
                        <button class="btn btn-outline-success " type="button ">Search</button>
                    </form>-->
                </div>
            </div>
        </nav>
        <div class="container-fluid ">

            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<app-footer></app-footer>