<div class="container mt-5 py-5">
    <div class="row ">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="bg-white shadow p-4 rounded">
                <h1 class="display-6 text-dark">Les Annonces</h1>
                <!-- Titre provisoire car ce n'est pas bien de mettre 2 balises h1 dans la même page -->
                <hr class="bg-dark mb-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Type</th>
                            <th scope="col">Prix</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of offers; let i = index">
                            <td>{{i}}</td>
                            <td>
                                <img *ngIf="offer.photo" [src]="offer.photo" alt="Offer photo" width="90">
                            </td>
                            <td>{{offer.title | firstCharUppercase }}</td>
                            <td>{{offer.brand + ' ' + offer.model}}</td>
                            <td>{{offer.price | currency :'EUR': 'symbol':'4.2-2':'fr'}}</td>
                            <td><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEditOffer(offer)">Modifier</button></td>
                            <td><button class="btn btn-danger" type="button" (click)="onDeleteOffer(offer.id)">Supprimer</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier une annonce</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="mx-auto">
                        <div class="bg-white shadow rounded p-4">
                            <!-- [formGroup]="offerForm" -> Property Binding -->
                            <form [formGroup]="offerForm" (ngSubmit)="onSubmitOfferForm()">
                                <!--(ngSubmit)="onSubmitOfferForm()" -> Event binding-->
                                <input type="text" formControlName="id" hidden>

                                <div class="form-group mb-3">
                                    <label for="offerTitleInput">Titre</label>
                                    <input type="text" id="offerTitleInput" class="form-control" formControlName="title">
                                </div>
                                <div class="px-3" *ngIf="currentOfferPhotoUrl && currentOfferPhotoUrl !==''">
                                    <img [src]="currentOfferPhotoUrl" alt="Offer photo" class="w-100 rouned">

                                </div>
                                <div class="form-group mb-3">
                                    <label for="offerPhotoInput ">Choisir une image</label>
                                    <input type="file" id="offerPhotoInput " class="form-control" formControlName="photo" (change)="onChangeOfferPhoto($event)">
                                </div>
                                <div class="form-group mb-3 ">
                                    <label for="offerBrandInput">Marque</label>
                                    <input type="text" id="offerBrandInput" class="form-control" formControlName="brand" appUppercaseInput>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="offerModelInput ">Modèle</label>
                                    <input type="text" id="offerModelInput" class="form-control" formControlName="model">
                                </div>
                                <div class="form-group mb-3 ">
                                    <label for="offerDescriptionInput ">Description</label>
                                    <input type="text" id="offerDescriptionInput" class="form-control" formControlName="description">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="offerPriceInput">Prix</label>
                                    <input type="number" id="offerPriceInput" class="form-control" formControlName="price">
                                </div>
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-primary mx-auto" [disabled]="offerForm.invalid">Enregistrer</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary mx-auto" [disabled]="offerForm.invalid">Enregistrer</button>
            </div>
        </div>
    </div>
</div>