<nav *ngIf="currentUser && emailVerified" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!--<nav class="container navbar fixed-top navbar-expand-lg navbar-light bg-light ">-->

    <div class="container">
        <!--<button class="btn btn-primary " (click)="clickEvent() "><i class="fa-solid fa-bars "></i></button>-->
        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Agorespaces
                    </a>
                    <ul class="dropdown-menu dropdown" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/agorespace">Voir les agorespaces</a></li>
                        <li>
                            <a class="dropdown-item disabled">Rechercher un agorespace</a></li>
                    </ul>
                </li>

                <li class=" nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Parcs-workout
                    </a>
                    <ul class="dropdown-menu dropdown" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/parc-workout">Voir les parcs-workout</a></li>
                        <li><a class="dropdown-item disabled">Rechercher un parc-workout</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false ">
                        Annonces
                    </a>
                    <ul class="dropdown-menu dropdown" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/annonce">Voir les annonces</a></li>
                        <li><a class="dropdown-item" routerLink="/add-annonce">Ajouter une annonce</a></li>
                        <li><a class="dropdown-item disabled">Rechecher une annonces</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profil">Voir mon profil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Se déconnecter</a>
                </li>
            </ul>

            <div *ngIf="auth.user | async as user " ngbDropdown class="dropdown d-flex ">
                <!--<h6 class="nav-item mt-3 ">
                            [{{ user.email }}]
                        </h6>-->

                <h6 *ngFor="let u of displayNameObs " class="nav-item mt-3">
                    [{{ u.displayName }}]
                </h6>

                <!-- Display the name from Google database -->
                <h6 *ngIf="user.displayName " class="nav-item mt-3 ">
                    [{{user.displayName }}]
                </h6>
                <button ngbDropdownToggle class="btn" type="button" id="dropdownMenuButton1" aria-expanded="false">

                            <!--{{user.photoURL ? user.photoURL : <img class="align-self-start mr-5 img-thumbnail rounded-circle " src="(user.photoURL) ? user.photoURL : 'https://demo.plainadmin.com/assets/images/profile/profile-image.png' "
                            alt=" ">}}-->
                        <img class="align-self-start mr-5 img-thumbnail rounded-circle " src="{{(user.photoURL) ? user.photoURL :
                                'https://st3.depositphotos.com/1007566/13247/v/600/depositphotos_132471910-stock-illustration-head-human-profile-icon.jpg'}} " style="width:50px " alt="{{user.displayName}} ">

                        </button>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1 ">
                    <li><a ngbDropdownItem routerLink="/profil ">Voir mon profil</a></li>
                    <div class="dropdown-divider "></div>
                    <li><a ngbDropdownItem (click)="logout() ">Se déconnecter</a></li>
                </ul>
            </div>


            <!--<form class="d-flex ">
                        <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
                        <button class="btn btn-outline-success " type="button ">Search</button>
                    </form>-->
        </div>
    </div>
</nav>