<div class="container">

    <h1 class="display-4 pt-5 mb-0 text-center mt-5">Agorespace</h1>
    <hr class="mt-0 mb-5 container">

    <div class="content">


        <div class="form-floating mb-3 w-25">
            <input id="new-agorespace" #agorespaceName class="form-control" placeholder="Name" />
            <label for="new-agorespace">Nom</label>
        </div>

        <!-- (click) passes input value to add() and then clears the input -->
        <button type="button" class="btn btn-primary add-button" (click)="add(agorespaceName.value); agorespaceName.value=''">
          Ajouter un agorespace
        </button>


        <div class="row">
            <div *ngFor="let agora of agorespaces" class="col-lg-4 col-md-6 card mb-4">
                <img class="card-img-top" src="https://agorespace.landagora.ch/images/pages/terrain-classic-ab.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{agora.name}}</h5>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/agorespace-detail/{{agora.id}}" class="btn btn-primary">Voir plus</a>
                        <button type="button" class="btn btn-danger" title="delete agora" (click)="delete(agora)">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>