<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item list-style-none">
                        <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown list-style-none">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Les terrains
            </a>
                        <ul class="dropdown-menu list-style-none" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" routerLink="/agorespace">Agorespace</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" routerLink="/parc-workout">Parc-workout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item list-style-none">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>


                    <li class="nav-item list-style-none">
                        <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>

                    <li *ngIf="auth.user | async as user" class="nav-item dropdown list-style-none">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        [{{ user.email }}]
        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" routerLink="/profil">Voir mon profil</a></li>
                        </ul>
                    </li>


                    <li class="nav-item list-style-none">
                        <a class="nav-link" (click)="logout()">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>