
<div id="search-component">
  
    <div class="form-floating mb-3 w-75 mt-150">

    <input #searchBox id="search-box" class="form-control" (input)="search(searchBox.value)"  placeholder="Research an Agorespace"/>
    <label for="search-box">Agoraespace Search</label>
</div>

    <!-- Every time the user types in the textbox, the binding calls search() with the textbox value, a "search term". The searchTerms becomes an Observable emitting a steady stream of search terms. -->
  
  
        <div *ngFor="let agora of agorespaces$ | async" class="col-lg-4 col-md-6 card mb-4 search-result">  <!-- The $ is a convention that indicates agorespaces$ is an Observable, not an array.--> <!-- Since *ngFor can't do anything with an Observable, use the pipe character (|) followed by async. This identifies Angular's AsyncPipe and subscribes to an Observable automatically so you won't have to do so in the component class.-->
           
            <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ef894a67e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ef894a67e%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ agora.id}} - {{ agora.name}}</h5>
                <p class="card-text">Address: {{agora.address}}</p>
              
                <div class="d-flex justify-content-around">
                  <a routerLink="/agorespace-detail/{{agora.id}}" class="btn btn-primary">See more</a>
                  <!--<button type="button" class="btn btn-danger" title="delete agora"
              (click)="delete(agora)">Delete</button>-->

                </div>
            </div>
        </div>        
    </div>
