<div class="container">

    <h1 class="display-4 pt-5 mb-0 text-center mt-5">Parc Work Out</h1>
    <hr class="mt-0 mb-5 container">

    <div class="content container">

        <div class="row">

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.plan-les-ouates.ch/files/sites/default/files/misc/img_20191113_161618.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parc Work Out Renens</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Localiser</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.plan-les-ouates.ch/files/sites/default/files/misc/img_20191113_161618.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parc Work Out Crissier</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Localiser</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.plan-les-ouates.ch/files/sites/default/files/misc/img_20191113_161618.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parc Work Out Ouchy</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Localiser</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.plan-les-ouates.ch/files/sites/default/files/misc/img_20191113_161618.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parc Work Out Malley</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Localiser</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>